.contacto__ladoIzquierdo{
    display: flex;
    flex-direction: column;

}

.contacto__ladoIzquierdo img{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://global-uploads.webflow.com/627cdcca8bc0d22df9b2672f/638ed02d4f892cc40de57f1c_Sourcing%20Developer%20Candidates%20email%20template-p-1600.webp");
    background-size: cover;
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    
}

.contacto__ladoIzquierdo a {
    display: flex;
    align-items: center;
}

.contacto__ladoIzquierdo a >img{
    width: 40px;
    height: 40px;
}

.contacto__ladoIzquierdo a > p{
    display: inline-block;
}


@media (max-width:768px) {
    .contacto__ladoIzquierdo--Ventana{
        display: none;
    }


    .contacto__ladoIzquierdo{
        display: none;
        
    }

    .contacto__ladoIzquierdo--frase{
        padding: 1rem;
    }

}