@import url(contacto-ladoDerecho.css);
@import url(contacto-container.css);
@import url(contacto-ladoIzquierdo.css);

.contacto{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 3rem;
    height: 700px;
    background-color: var(--secondary);
    justify-content: center;
}