.informacion__ladoIzquierdo{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0rem 4rem;
    /* background-color: yellow; */
    color: var(--primary);
    font-family: var(--fuente);
    font-weight: 100;
    align-items: center;
    justify-content: center;
    
}

.contacto__ladoIzquierdo--Ventana{
    background-color: var(--secondary);
    box-shadow: 1px 1px 20px 1px rgb(0, 0, 0);
    border-radius: 5px;
    height: auto;
    min-width: 900px;
    animation-name: ventanaFlotando;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

@keyframes ventanaFlotando {
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-30px);
    }

    100%{
        transform: translateY(0);
    }
}

.contacto__ladoIzquierdo--frase{
    color: black;
    font-weight: 500;
}



.informacion__ladoIzquierdo > div > div:nth-child(2){
    padding: 2rem;
    font-size: 16px;
}

.informacion__ladoIzquierdo > div > div:nth-child(3){
    padding: 2rem;
}

.informacion__ladoIzquierdo h3{
    font-size: 2rem;
    color: var(--titulo2);
    margin-bottom: 3rem;

}

.informacion__ladoIzquierdo h3 > span {
   
        color: rgb(101, 16, 238);
}

.informacion__ladoIzquierdo > div{
    position: relative;
}

.informacion__ladoIzquierdo > div::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        45deg,
        var(--botonColor), var(--botonColor), var(--botonColor)
    );
    background-size: 800%;
    
    filter: blur(8px);
    animation: glowing 60s linear infinite;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 900% 0;
    }

    100%{
        background-position: 0 0;
    }
}

.informacion__ladoIzquierdo--container div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    font-size: 1rem;
}

.informacion__ladoIzquierdo--container div > div{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}


.informacion__ladoIzquierdo--container div > div > img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.informacion__ladoIzquierdo--container div > div > p{
    text-align: justify;
}






@media (max-width:1600px) {
    .informacion__ladoIzquierdo{
        padding: 0 0;
       
    }

    .contacto__ladoIzquierdo--Ventana{
        width: 50%;
        height: fit-content;
        margin-top: 3rem;
        resize: none;
        
    }

}


@media (max-width:1000px){
    .contacto__ladoIzquierdo--Ventana{
        display: none;
    }
}