.skill__izquierda{
    display: flex;
    width: 40%;
    height: 100%;
    background-image: url(/img/seccion/seccion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 75%;
}



@media (max-width:1600px) {
    .skill__izquierda{
        display: none;
        
    }
}